@import url('share.css');

* {
    box-sizing: border-box;
    outline: none;
}

*, ::before, ::after {
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    overflow-anchor: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

header {
    z-index: auto;
}

body {
    margin: 0;
    padding: 0;
}

form {
    display: block;
    margin-top: 0em;
}

legend {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}

legend, caption {
    display: none;
    clear: both;
}

label {
    margin: 0;
}

label {
    font-weight: 300;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

fieldset, img {
    border: 0 none;
    vertical-align: middle;
}

#wrap footer a, a:link, a:visited, a:hover, a:active {
    color: #999999;
    text-decoration: none;
}

a, a:active, a:hover, a:link, a:visited {
    text-decoration: none;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    background-color: transparent;
}

a, button {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: var(--gray-700);
}

p, dt, dd {
    margin: 0px;
    padding: 0px;
}

input, button, select, textarea {
    margin: 0;
    line-height: inherit;
    border-radius: 0;
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input:not([type="checkbox"]):not([type="radio"]), button, textarea, select {
    appearance: none;
}

[role="button"] {
    cursor: pointer;
}

li {
    outline: none;
}

ul, ol, dl {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
}

h5 {
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#mainHeader {
    position: relative;
    width: 100%;
}

.headerGnb {
    width: 100%;
}

.globalNavBar {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1060px;
    position: relative;
}

.logo > a > img {
    width: 128px;
    vertical-align: middle;
}

.searchBar {
    height: 48px;
    margin-left: 24px;
    position: relative;
    width: 340px;
}

.searchContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    border: none;
    border-radius: 4px;
}

.searchContainer.focusContainer {
    border: none;
    box-shadow: rgb(52 58 64 / 20%) 0px 0px 1px, rgb(52 58 64 / 15%) 0px 1px 4px;
}

.searchImg {
    position: absolute;
    left: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 48px;
}

.searchInput {
    width: 100%;
    height: 100%;
    background: rgb(245, 246, 247);
    border: none;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 0px 16px 0px 48px;
    color: rgb(73, 80, 86);
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.focusInput {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 0px 16px 0px 48px;
    color: rgb(73, 80, 86);
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.globalItems {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
}

.globalItem {
    height: 36px;
    margin-right: 8px;
    position: relative;
}

.globalItem:hover {
    background-color: var(--gray-60);
}

.globalItem > a {
    display: inline-block;
}

.globalItem > button,
.globalItem > a {
    background-color: transparent;
    border: 0;
    color: var(--gray-600);
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    height: 100%;
    line-height: normal;
    padding: 8px 12px;
    transition: background-color .2s ease;
    white-space: nowrap;
}

.globalItem.signInItem {
    cursor: pointer;
    border: 1px solid var(--blue-200);
    padding-left: 32px;
    padding-right: 32px;
}

.globalItem.signInItem > a {
    color: var(--blue-500);
}

.globalItem.signInItem:hover {
    background-color: var(--blue-50);
}

.profileItem {
    display: flex;
    height: 40px;
    justify-content: flex-end;
    margin-left: 12px;
}

.profileCard {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.profileItem > .profileCard > button {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.profileCard > button > img {
    border: 2px solid var(--white);
    border-radius: 50%;
    height: 36px;
    transition: border-color .2s ease;
    width: 36px;
}

.headerLnb {
    border-bottom: 1px solid var(--gray-200);
}

.localNavBar {
    height: 50px;
    margin: 0 auto;
    max-width: 1060px;
    position: relative;
}

.lnbWrapper {
    align-items: center;
    display: flex;
    height: inherit;
    margin-left: -16px;
    width: auto;
    z-index: inherit;
}

.localItemWithIcon {
    height: 100%;
    margin: 0 12px;
    position: relative;
}

.localItemWithIcon > a {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
}

.localItemWithIcon > a > img {
    height: 24px;
    margin-bottom: 4px;
    width: 24px
}

.localItemWithIcon > a > span {
    border-bottom: 3px solid transparent;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 47px;
    padding-left: 4px;
    padding-right: 4px;
    transition: border .2s ease;
}

.localItemForSpace {
    background: var(--gray-100);
    height: 20px;
    margin: 0 12px;
    width: 1px;
}

.localItem {
    height: 100%;
    margin: 0 12px;
    position: relative;
}

.localItemWithIcon:hover, .localItem:hover {
    border-bottom: 3px solid var(--blue-300);
}

.localItem > a {
    background-color: transparent;
    display: inline-block;
    height: 100%;
}

.localItem > a > span {
    border-bottom: 3px solid transparent;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 47px;
    padding-left: 4px;
    padding-right: 4px;
    transition: border .2s ease;
    white-space: nowrap;
}

.myinfoContainer {
    display: none;
}

.myinfoContainer.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: 30000;
    width: 230px;
    border: 1px solid rgb(233, 236, 239);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 1px 0px;
    border-radius: 1px;
}

.myinfoContainer.active .ProfilePopup-InfoSection {
    border-bottom: 1px solid rgb(233, 236, 239);
    padding: 8px 20px;
}

.myinfoContainer.active .ProfileCardButton-Container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.ProfileCardButton {
    margin: 0px 20px 0px 0px;
    padding: 0px;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    transition: border-color 0.2s ease 0s;
    overflow: hidden;
}

.ProfileCardButton img {
    width: 100%;
}

.myinfo {
    padding: 8px 0px;
}

.myinfo a {
    margin: 0px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    padding: 0px 16px;
    font-size: 15px;
    font-weight: 500;
}

.ProfilePopupLink {
    color: rgb(73, 80, 86);
}

.smallArrow:before {
    content: "";
    position: absolute;
    top: 0px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent rgb(222, 226, 230);
    border-width: 6px;
    right: 12.5px;
    top: -13px;
}

.smallArrow:after {
    border-color: transparent transparent rgb(255, 255, 255);
    border-width: 6px;
    right: 12px;
    top: -12px;
    content: "";
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
}


@media (min-width: 992px) and (max-width: 1199px) {
    body {
        width: 1200px;
    }
}

@media screen and (min-width: 768px) {
    .globalNavBar {
        height: 72px;
        justify-content: flex-start;
    }
}