@charset "UTF-8";
@import url("share.css");
/* 헤더부분 화면 시작 */
.main-header{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    color: rgb(102, 109, 117);
}
.GNB-Container{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 72px;
    max-width: 1060px;
    margin: 0px auto;
}
.GNB-Button{
    margin: 0px;
    padding: 0px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.GNB-Logoimg{
    display: inline-block;
    border: 0px;
    width: 128px;
    vertical-align: middle;
}
.GNB-Search{
    position: relative;
    width: 340px;
    height: 48px;
    margin-left: 24px;
}
.GNB-SearchContainer{
    position: relative;
    margin-right: 14px;
}

.GNB-SearchInput{
    position: relative;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    border: none;
    border-radius: 4px;
}
.Search-IconContainer{
    position: absolute;
    left: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 48px;
}
.Search-Icon{
    display: inline-block;
    border: 0px;
    width: 20px;
    height: 20px;
}
.Keyword-Input{
    width: 100%;
    height: 100%;
    background: rgb(245, 246, 247);
    border: none;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 0px 16px 0px 48px;
    color: rgb(73, 80, 86);
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.NavItems-Container{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
}
.LoggedItems{
    display: flex;
    position: relative;
    height: 36px;
    gap: 0px 8px;
}
.NavButton{
    position: relative;
}
.Wishlist-button{
    margin: 0px;
    appearance: none;
    border: none;
    outline: none;
    background: none transparent;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 8px 12px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    transition: background-color 0.2s ease 0s;
    color: rgb(102, 109, 117);
}
.Wishlist-button > a{
    text-decoration : none;
    color: rgb(102, 109, 117);
}
.Penguin-Container{
    margin-left: 12px;
}
.Penguin-Button{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.Penguin-Logo{
    margin: 0px;
    padding: 0px;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    transition: border-color 0.2s ease 0s;
    overflow: hidden;
}
.Penguin-img{
    width: 100%;
}

/* 헤더부분 화면 끝 */