@import url('global/share.css');
.mainHeader{
    /*  share.css에서 가져온 변수명으로 색깔을 넣는다. */
    background-color: var(--white);
    /*  아래쪽에 64픽셀(pixels)의 여백을 추가   */
    margin-bottom: 64px;
    /*  텍스트를 수평으로 가운데 정렬    */
    text-align: center;
    /*  부모요소 가로 너비 100%*/
    width: 100%;
}

.mainHeader_container{
    /*  요소의 위치를 부모 요소 또는 기준 요소에 상대적으로 설정하는 데 사용됩니다.
        position: relative;를 사용하면 기본 흐름(layout)을 유지하면서,
        top, right, bottom, left 속성을 사용하여 요소를 이동시킬 수 있습니다.*/
    position: relative;
    width: 100%;
}

.headlineWrapper{
    /* 수직 중앙 정렬 */
    align-items: center;
    /*  CSS Flexbox 레이아웃을 사용하여 자식 요소들을 정렬하고 배치할 수 있도록 합니다.
        Flexbox는 보다 직관적이고 효율적인 레이아웃 방법을 제공하여,
        복잡한 정렬 및 정돈 작업을 쉽게 처리할 수 있게 합니다.*/
    display: flex;
    /*  flexbox 레이아웃에서 주축(일반적으로 수평축)을 따라 아이템들을 동일한 간격으로 배치하는 데 사용*/
    justify-content: space-between;
    /*  아이템이 가로방향으로 흐른다.*/
    flex-direction: row;
    /*  상단 여백 : 48, 왼쪽과 오른쪽 여백 : 자동 설정, 하단 여택 : 24*/
    margin: 48px auto 24px;
    position: relative;
    width: 1060px;
}

.headline{
    color: var(--gray-800);
    font-size: 36px;
    font-weight: 600;
    /*  문자 사이의 간격을 0.4픽셀을 줄인다.*/
    letter-spacing: -.4px;
    /*  문단 사이의 높이를 44px*/
    line-height: 44px;
    /*  텍스트 정렬을 왼쪽*/
    text-align: left;
}

.travelLink{
    flex-direction: row;
    /*  CSS 속성으로, 웹킷 기반 브라우저(예: Chrome, Safari)에서
        구형 Flexbox 모델을 사용할 때 아이템을 정렬하는 데 사용됩니다.
        이 속성은 플렉스 컨테이너 내의 아이템들을 수직 축(교차 축)에서 가운데로 정렬*/
    -webkit-box-align: center;
    align-items: center;
    /* flex-grow, flex-shrink, flex-basis를 한 번에 설정
        grow 0: 플렉스 컨테이너에 여분의 공간이 있어도 아이템의 크기를 늘리지 않음
        shrink 0: 플렉스 컨테이너의 크기가 줄어들 때 아이템 크기가 줄어들지 않음
        basic auto : 아이템 기본 크기를 자동으로 처리, 콘텐츠 크기나 width/height 속성에 따라 결정*/
    flex: 0 0 auto;
    /*  요소의 배경 색을 투명하게 설정하는 것을 의미합니다.
        이 속성을 사용하면 요소의 배경이 없어지고, 그 아래의 요소나 페이지의 배경이 나타납니다.*/
    background-color: transparent;
    /*  아웃라인 스타일 제거*/
    outline: none;
    /*  모서리 테두리를 둥글게 만드는 css*/
    border-radius: 4px;
    /*  요소의 테두리 없앰*/
    border: 0;
    /*  마우스 커서를 포인터로 변경
        사용자에게 클릭 가능한 요소임을 시각적으로 알려줌*/
    cursor: pointer;
    /*  속성 변경시 애니메이션 추가
        모든 속성에 대해 변화가 있을 때 변화를 부드럽게 만드는 애니메이션 효과 0.2초 동안 적용
        ease : 애니메이션 전환을 부드럽게 만들어주는 타이밍 함수*/
    transition: all 0.2s ease 0s;
    height: 32px;
    color: var(--blue-500);
    /*  FlexBox 레이아웃을 사용하여 요소 내의 자식 요소들을 유연하게 배치하고 정렬*/
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.4px;
    line-height: 16px;
    /*  내부 여백(padding)을 상단 0픽셀, 오른쪽 0픽셀, 하단 0픽셀, 왼쪽 8픽셀로 설정*/
    padding: 0 0 0 8px;
}
/*  마우스 커서가 올라간 상태*/
.travelLink:hover{
    background-color: var(--blue-50);
}

.mainHeader_row, .mainBanner_row{
    margin: 0 auto;
    position: relative;
    width: 1080px;
}
.card_container, .banner_container{
    height: 100%;
    position: relative;
    width: 100%;
}
.swiper-container, .swiper, .best-swiper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /*  요소가 넘칠 때 넘치는 부분 숨김*/
    overflow: hidden;
    /*  요소의 쌓임 순서 지정
        숫자가 높을 수록 더위에 표시*/
    z-index: 1;
}
.swiper-wrapper{
    /*  요소의 투명도를 지정
        현재 투명도를 99%로 지정*/
    opacity: .99;
    /*  하단 여백 20px*/
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*  요소의 전체 크기를 지정한 너비와 높이에 맞추고 테두리와 안쪽 여백 포함하여 크기 계산*/
    box-sizing: border-box;
    overflow: hidden;
    width: 3240px;
    /*  3차원 공간에서 요소를 이동
        x축, y축, z축 0픽셀
    */
    transform: translate3d(0px, 0px, 0px);
    /*  전환 효과의 지속 시간을 0밀리초로 설정*/
    transition-duration: 0ms;
}
.swiper-slide .headerImage{
    height: 100%;
    width: auto;
    /*  요소의 크기 변환(scale 변환)을 설정*/
    transform: scale(1);
    /*  전환 효과의 지속 시간을 설정 */
    transition-duration: 2.5s;
    /*  전환의 시작 부분은 빠르게 시작하고, 점점 느리게 끝나도록 설정된 타이밍 함수*/
    transition-timing-function: ease-out;
}
.swiper-slide.image-slide{
    border-radius: 8px;
    box-shadow: 0 8px 12px 0 rgb(33 37 41 / 15%);
    cursor: pointer;
    display: inline-block;
    height: 333px;
    overflow: hidden;
    position: relative;
    width: 250px !important;
    left: 10px;
    margin-right: 20px;
    z-index: 0;
}
.swiper-slide:hover .headerImage{
    transform: scale(1.1);
}
.cardEffect{
    background-image: linear-gradient(142deg,rgba(0,0,0,.7),hsla(0,0%,100%,0) 65%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.cardContent{
    height: 100%;
    left: 0;
    padding: 32px 24px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
}
.cardTitle{
    grid-gap: 8px;
    align-items: center;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;
}
.cardTit{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -.4px;
    line-height: 1.29;
    text-align: left;
    text-shadow: 0 1px 8px rgb(33 37 41 / 60%);
    vertical-align: middle;
}
.cardBox{
    background-color: var(--green-500);
    border-radius: 4px;
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -.3px;
    line-height: 15px;
    padding: 2px 5px;
    text-align: center;
    vertical-align: middle;
}
.cardDesribe{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--white);
    display: -webkit-box;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.3px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 1px 8px rgb(33 37 41 / 60%);
}
.cardBtn{
    border: none;
    bottom: 32px;
    box-shadow: 0 0 0 1px rgb(33 37 41 / 8%);
    left: 24px;
    position: absolute;
    background-color: var(--white);
    color: var(--gray-700);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    height: 40px;
    padding: 12px 16px 0;
}
.main-button-prev,
.main-button-next{
    background-color: var(--white);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 6px 0 rgb(0 0 0 / 5%), 0 4px 12px 0 rgb(0 0 0 / 5%);
    height: 40px ;
    position: absolute ;
    text-align: center;
    top: 50% ;
    transform: translateY(-50%);
    transition: .2s;
    width: 40px ;
    z-index: 10;
}
.mainBanner-button-prev.mainBannerBtn,
.mainBanner-button-next.mainBannerBtn{
    background-color: rgba(0,0,0,.15);
    border: 0;
    border-radius: 50%;
    height: 28px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease;
    visibility: hidden;
    width: 28px;
    z-index: 1;
}
.mainBanner-button-prev.mainBannerBtn{
    left: 16px;
}
.mainBanner-button-next.mainBannerBtn{
    right: 16px;
}
.swiper:hover .mainBannerBtn{
    visibility: visible;
    opacity: 1;
}
.main-button-next.swiper-button-disabled,
.main-button-prev.swiper-button-disabled,
.mainBanner-button-prev.swiper-button-disabled,
.mainBanner-button-next.swiper-button-disabled
{
    display: none;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    display: none;
}
.main-button-prev{
    left: 1px ;
}
.main-button-next{
    right: 1px ;
}
.main-button-prev:hover, .main-button-next:hover{
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 6px 0 rgb(0 0 0 / 5%), 0 8px 12px 0 rgb(0 0 0 / 20%);
}


.swiper-wrapper{
    width: 500px;
    height: 200px;
}

.image_container{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 5%);
    height: 100%;
    width: 100%;
    position: relative;
}
.bannerImage{
    width: 100%;
    border-radius: 4px;
}
.mainBanner_wrapper{
    overflow: visible;
}

.mainBanner-pagination{
    bottom: 0;
    left: 0;
    line-height: 1;
    margin-top: -12px;
    position: relative;
    text-align: center;
    z-index: 10
}
.mainBanner-pagination span{
    background-color: var(--black);
    border-radius: 100%;
    display: inline-block;
    height: 8px;
    margin: 0 4px;
    opacity: .1;
    width: 8px;
}
.mainBanner-pagination .swiper-pagination-bullet-active{
    opacity: 0.5;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}
