@charset "UTF-8";
@import url('global/share.css');
.mainInfo{
    margin-bottom: 120px;
}
.mainInfo-Header_container{
    align-items: end;
    display: flex;
    margin-bottom: 16px;
    text-align: left;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.mainInfo-Header_wapper{
    flex: 1;
    width: 100%;
}
.mainInfo-Header_titleWrapper{
    display: flex;
    justify-content: space-between;
}
.mainInfo-Header_title{
    color: #343a40;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}
.mainInfo-box{
    background-color: var(--gray-50);
    border: 1px solid var(--gray-200);
    height: 196px;
    padding: 42px 0;
    text-align: center;
    width: 100%;
}

.mainInfoItem-container{
    display: inline-block;
    margin-right: 70px;
    text-align: left;
    width: 260px;
}
.mainInfoItem-container:last-child{
    margin-right: 0;
}
.mainInfoItem-header{
    margin-bottom: 12px;
}
.mainInfoItem-logo{
    height: 30px;
    width: 30px;
}
.mainInfoItem-title:visited{
    color: var(--blue-500);
}

.mainInfoItem-title{
    color: var(--blue-500);
    font-size: 14px;
    font-weight: 500;
    margin-left: 16px;
    vertical-align: middle;
}
.mainInfoItem-arrow{
    height: 10px;
    margin-left: 4px;
    vertical-align: baseline;
    vertical-align: initial;
    width: 7px;
}

.mainInfoItem-desc{
    color: var(--gray-600);
    font-size: 14px;
    line-height: 1.71;
}



