<component name="libraryTable">
  <library name="mybatis-3.5.9">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../../neddFile/mybatis-3.5.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../../neddFile/jstl.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../../neddFile/mysql-connector-java-8.0.27.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../../neddFile/standard.jar!/" />
      <root url="file://$PROJECT_DIR$/../../../../neddFile" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../../../../neddFile/H2/src/java10/src" />
      <root url="file://$PROJECT_DIR$/../../../../neddFile/H2/src/java8/src" />
      <root url="file://$PROJECT_DIR$/../../../../neddFile/H2/src/java9/src" />
      <root url="file://$PROJECT_DIR$/../../../../neddFile/H2/src/main" />
      <root url="file://$PROJECT_DIR$/../../../../neddFile/H2/src/test" />
      <root url="file://$PROJECT_DIR$/../../../../neddFile/H2/src/tools" />
      <root url="file://$PROJECT_DIR$/../../../../neddFile/apache-tomcat-9.0.90/webapps/docs/appdev/sample/src" />
      <root url="file://$PROJECT_DIR$/../../../../neddFile/apache-tomcat-9.0.90/webapps/examples/WEB-INF/classes" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/../../../../neddFile" recursive="false" />
  </library>
</component>